
@import url(variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
background-color: var(--primary);
  margin-top: 60px;
  height: 100vh;
  width: 100vw;

}
.animation {
  background-color: var(--secondary);
  height:90vh;
}
.header-animation{ 
  font-size: 60px;
  color: white;
  background-color: red;
  text-align: center;

}

:root{
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;
  --white: #ffff;
  /*Intentions */ 
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);

  /* Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;

}
.warm {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);

}

.cool {
  --primary: var(--dark-red);
  --secondary: var(--light-red);
}
.hero{
  background-color: var(--primary);
}

.main{
background-color: var(--secondary)};

.animation{background-color: var(--primary)};

h1
{font-size: var(--h1)};

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5)};

h1,
h2,
h3,
h4,
h5 {
  text-align: center;}

  .btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
