
:root {
    --black: #000000;
    --grey: #37474F;
    --litgrey: #dee4e7;
    --white: #ffffff;
    --brown: rgba(58, 43, 23, 0.829);
    --lightbrown: rgb(75, 49, 49);
    --yellow: #CEB180;
    --whiteshadow: rgba(255, 255, 255, 1);
    --blackshadow: rgba(0, 0, 0, 1);


    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
    }
    
    
    .light {
      --primary: var(--white);
      --secondary: var(--litgrey);
      --inv: var(--black);
      --shadow: var(--blackshadow)
    }
    .dark {
      --primary: var(--black);
      --secondary: var(--grey);
      --inv: var(--white);
      --shadow: var(--whiteshadow)
    }
    
  .head {
  text-align: center;
  border: solid rgb(44, 44, 44);
  padding: 50px 50px;
  background-color: var(--brown);
  border-radius: 10px;
  font-size: 8rem;
  margin: 1em;
}

  .head {
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 1rem auto;}


  .title {
    width: 90vw;
    margin: 0 auto;
  text-align: center;
  color: var(--inv);
  }


h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

.btns {
display: flex;
 margin: 0 auto;
 }

 button{
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  background-color: var(--yellow);
  transition: border-color 0.25s;
  border-radius: 8px;
  border: solid;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  color: var(--lightbrown);
  border-color: var(--inv);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
;}

body {background-color: var(--primary)}

.display-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 27vw;
  height: 65vh;
  margin: 1rem auto;
  align-items: center;
  background-color: var(--secondary);
  border: solid;
  border-radius: 1rem;
  border: 1px solid;
  color: var(--inv);
  box-shadow: var(--shadow) 0px 3px 8px;
}
.display-img {
  width: 90%;
  height: 55%;
  border-radius: 1rem;
};
