
@import url(variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  height: 100vh;
  width: 100vw;
}
.animation {
  background-color: blue;
  height:90vh;
}
.header-animation{ 
  font-size: 60px;
  color: white;
  background-color: red;
  text-align: center;

}